@import "envvars.css";
.content-dft{
	max-width: 100% !important;
	max-height: 400px !important;
}

.main-container-row{
	max-width: 100% !important;
}

/*
index.php content styles
*/

.content1{
	background-attachment: fixed;
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	max-width: 100% !important;
	margin-bottom: 10%;
	background-color: rgb(51, 51, 71);
	text-align: center;

}

.content1 *{
	font-family: Cantarell;
	position: relative;
	text-align: center;
}


.content + .rowcontent{
	max-width: 100%;
	max-height: 50%;
}

.main-header{
	background-image: url("../media/md2.png");
	background-attachment: fixed;
	background-color: #ded600;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100% !important;
	height: 800px;
}

.main-header h1{
	font-family: Verdana;
	font-size: 56px;
	font-weight: bolder;
	font-size-adjust: 10%;
}

.content-nrm *{
	color: black;
}

.rowcontentn{
	margin-top: 5%;
}

#con2 p{
	font-size: 24px;
}

#logo-ex{
	background-image: url("../media/new-logo.png");
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 250px;
	max-height: 250px;
	width: 100px;
	height: 100px;
	background-color: black;
	position: relative;
	margin-left: 47%;
	border-radius: 10%;
	margin-bottom: 50px;
	border: 2px  #ded600 solid;
}
