.left-content{
    float: left;
    margin-left: 10px;
    border-right: 1px solid whitesmoke;
}

.right-content{
    float: right;
    margin-right: 10px;
    border-left: 1px solid whitesmoke;
}

.left-content, .right-content, .content{
    color: whitesmoke;
}
