/* File only for keyframes*/


@keyframes correctSignature-background {
    from {background-color: inherit; }
    to{background-color: green; }
}

@keyframes invalidSignature-background {
    from {background-color: inherit; }
    to{background-color: red; }
}

@keyframes auth-valid{
    fom{ background-color: inherit;}
    to{ background-color: green;}
}

@keyframes auth-invalid{
    from{ background-color: inherit;}
    to{ background-color: red; }
}

@keyframes auth-content-lg{
    from{ font-size: inherit; }
    to{ font-size: 125px; }
}
@keyframes auth-content {
    from{ font-size: inherit; }
    to{ font-size: 35px; }
}

@keyframes auth-content-sm {
    from{ font-size: inherit; }
    to{ font-size: 7px; }
}

@keyframes zeppeli7 {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}

@keyframes notification-up {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: .9;}
}

@keyframes notification-slide-left{
    from{margin-left: 200%;}
    to{margin-left: auto;}
}
