@import "envvars.css";
@import "keyframes.css";

/* #notification-container{
    position: fixed;
    top: 80px;
    left: 73%;
    padding: 10px 11px;
    float: left;
    max-width: 500px !important;
    max-height: 600px !important;
    width: 500px;
}

.notification-container{
    position: absolute;
    top: 80px;
    left: 90%;
    padding: 10px 11px;
    float: left;
    max-width: 50%;
}

.notification{
    opacity: .71;
    max-width: 500px !important;
    max-height: 170px !important;
    border-radius: 10px;
    padding: 10px 11px;
    height: 70px !important;
    margin-bottom: 80px;
    transition: opacity 1s linear;
}

.notification:hover{
    opacity: 1;
}

.notification > p{
    margin-top: 4px;
    padding: 10px 11px;
}

.notification-normal{
    background-color: blue;
    border: 1px solid blue;
}

.notification-normal > p{
    color: white;
}

.notification > .dismiss-container{
    position: relative;
    margin-left: 89.50%;
    margin-top: -25px;
    padding: 10px 11px;
    background-color: inherit;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid inherit;
    border-top: none;
    width: 60px;
}

.notification > .dismiss-container:hover ~ button{
    padding: 10px 11px;
}

.notification > .dismiss-container > button{
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
}

.notification-success{
    background-color: green;
    border: 1px solid green;
}

.notification-success p{ color: white; }

.notification-warning {
    background-color: red;
    border: 1px solid red;
}

.notification-warning p{ color: white; } */


/* Improved and minimalist notifications */


@keyframes notification-up {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: .9;}
}

@keyframes notification-slide-left{
    from{transform: translateX(-100%);}
    to{transform: translateX(3%);}
}

@keyframes notification-slide-left-out {
    from{transform: translateX(0%);}
    to{transform: translateX(-100%);}
}


.notification-min{
    width: 50% !important;
    height: auto;
    position: fixed !important;
    opacity: .9 !important;
    padding: 20px 20px;
    margin-left: auto;
    animation: notification-slide-left .8s;
    border-radius: 2%;
    top: 60%;
}

.notification-bottom, .notification-cookie{
    background-color: #1b1b1b !important;

}

.notification-dismiss{
    float: right;
}

.notification-title, .notification-content{
    align-self: flex-start;
    color: #ffff;
}


.notification-min-out{
    width: 80% !important
    position: fixed !important;
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    animation: notification-slide-left-out .8s;
    border-radius: 2%;
    top: 60%;
}

.notification-info{
    background-color: blue;
    border: 1px #ffff solid;
}

.notification-warning{
    background-color: yellow;
    border: 1px #0000 solid;
}

.notification-error{
    background-color: red;
    border: 1px solid red;
}

.notification-cookie > .notification-title::before{
    content: "\f564";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 80px;
}

.notification-info > .notification-title:before{
    content: "\f05a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 80px;
}

.notification-warning > .notification-title::before{
    content: "\f071";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 80px;
}

.notification-error > .notification-title::before{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 80px;
}
