<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0">
        <title>LPGP_EMAIL Sent</title>
    </head>
    <body>
        <table background="https://i.imgur.com/df8L3YH.jpeg" role="presentation" border="0">
            <tr>
                Hello %user% ! Your LPGP Profile was successfully created!
            </tr>
            <tr>
                <td>Here's your key</td>
                <td>%key%</td>
                <td>With this key you can access your account and start using the LPGP systems</td>
            </tr>
            <tr>
                <td>If you didn't create a LPGP profile just ignore this e-mail</td>
            </tr>
        </table>
    </body>
</html>
